# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Babel and TypeScript compiled output
dist/
out/
build/
.esbuild/

# Production build
public/build/

# Parcel cache
.cache/
.parcel-cache/

# Next.js
.next/
out/

# Svelte
.svelte-kit/

# Nuxt.js
.nuxt/
dist/

# Vue.js
.vuepress/dist/
.temp/

# Temporary directories and files
tmp/
temp/
*.tmp
*.temp
*.swp
*.swo
*~

# MacOS and Linux file system
.DS_Store
.Trash-*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Testing
coverage/
